Repository joggrdocs/fastify-prisma, pull requests merged in 2023-09, with the labels that each got.

#1 🐛 Bugfix | Fix plugin name using correct npm scope
  src/plugin.ts
Labels: bugfix, patch

#2 :gear: Chore | increment source code
  .github/workflows/npm-publish.yaml
  package-lock.json
  package.json
  scripts/package-source-increment.js
  scripts/package.js
Labels: maintenance, patch

#3 :gear: Chore | better scripts again
  .github/workflows/npm-publish.yaml
  scripts/package-source-increment.js
  scripts/package.js
Labels: maintenance, patch

#4 :bug: Bugfix | fix the issue with lint-staged in CI
  .github/workflows/npm-publish.yaml
Labels: bugfix, patch

#10 :gear: Chore | fix sync with npm version due to missing checkout
  .github/workflows/npm-publish.yaml
Labels: bugfix, patch

#11 ⚙️ Chore | Revert release process back to the "old" way
  .github/workflows/npm-publish.yaml
  CONTRIBUTING.md
  package-lock.json
  package.json
  scripts/package-source-increment.js
  scripts/package.js
Labels: maintenance

#7 🛡️ Security | Upgrade to latest dependencies in GHA & tweak installs/build
  .github/workflows/ci.yaml
Labels: patch, security
